
#form{
  display: flex;
  flex-direction: column;
  margin: 200px;
  gap: 20px;
  align-items: center;
  background-color:cornflowerblue;
  border-radius:10px;
  padding:20px;
}

.t1{
  height: 30px;
  width:400px;
  border-width:1px;
}

button{
  background-color:aqua;
  border-width: 1px;
  height: 40px;
  width: 150px;
}